/PSP000-ExamplesStreamsPresentacio/nbproject/private/
/PSP06-socketExercici6/nbproject/private/
/PSP07-socketExercici7/nbproject/private/
/PSP08-socketRepas/nbproject/private/
/PSP09-socketExamen/nbproject/private/
/PSP10-servicesSMTPclient/nbproject/private/
/PSP10-serveisXarxa-SMTPClient/nbproject/private/