/PSP000-ExamplesStreamsPresentacio/nbproject/private/
/PSP000-ExamplesStreamsPresentacio/build/
/PSP00-SolucioStreams/nbproject/private/
/PSP00-SolucioStreams/build/
/PSP01-ejemploSocket/nbproject/private/
/PSP01-ejemploSocket/build/
/PSP02-socketExercici1/nbproject/private/
/PSP02-socketExercici1/build/
/PSP03-socketExercici2-3/nbproject/private/
/PSP03-socketExercici2-3/build/
/PSP04-socketExercici4-5/nbproject/private/
/PSP04-socketExercici4-5/build/
/PSP06-socketExercici6/nbproject/private/
/PSP06-socketExercici6/build/
/PSP07-socketExercici7/nbproject/private/
/PSP06-socketExercici7/build/
/PSP08-socketRepas/nbproject/private/
/PSP08-socketRepas/build/
/PSP09-socketExamen/nbproject/private/
/PSP09-socketExamen/build/
/PSP10-serveis-SMTPClient/nbproject/private/
/PSP10-serveis-SMTPClient/build/
/PSP11-serveis-SMTPClient-javamail-lib/nbproject/private/
/PSP11-serveis-SMTPClient-javamail-lib/build/
/PSP11-serveis-SMTPClient-javamail-lib-maven/target/
/PSP12-serveis-SMTPClient-apachelib/nbproject/private/
/PSP12-serveis-SMTPClient-apachelib/build/
/PSP20-serveis-POP3-apachelib/nbproject/private/
/PSP20-serveis-POP3-apachelib/build/
